# {{ short_name }}

{{ description }}
{%- if pretab_content %}

{{ pretab_content }}
{%- endif %}

{{ syntax_section }}

{{ example_section }}
{%- if additional_tabs %}

{{ additional_tabs }}
{%- endif %}

{{ definition_section }}